minecraft/*
instance.cfg
mmc-pack.json
modlist.html
SlugmoPack.code-workspace

!minecraft/config*
!minecraft/defaultconfigs*
!minecraft/kubejs*
!minecraft/options.txt
!minecraft/config/emi.json
!minecraft/config/icon.png
!minecraft/.pakku*
!minecraft/pakku.json
!minecraft/pakku-lock.json

minecraft/.pakku/docs
minecraft/config/alexscaves_biome_generation*
minecraft/config/sound_physics_remastered*
minecraft/config/bettercombat*
minecraft/config/betterdeserttemples*
minecraft/config/betterfortresses*
minecraft/config/biomeswevegone*
minecraft/config/cataclysm*
minecraft/config/corgilib*
minecraft/config/ichunutil*
minecraft/config/NoChatReports*
minecraft/config/simplyswords_extra*
minecraft/config/simplyswords_main*
minecraft/config/spark/tmp*
minecraft/config/voicechat*
minecraft/config/jei*
minecraft/config/emi.css
minecraft/config/oculus.properties
minecraft/resourcepacks*
minecraft/options.txt
